@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* XSmall */
@media screen and (min-width: 320px) and (max-width: 480px) {

    html {
        background-color: #F0F3F8;
    }

    .choice_page_wrapper {
        background-color: #F0F3F8;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        padding-top: 0;
    }

    .choice_header_wrapper {
        margin-top: 0;
        padding-top: 20px;
        background-color: #FFFFFF;
        height: 118px;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
    }

    .choice_header_small_title {
        margin-top: auto;
        margin-bottom: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        color: #222B45;
    }

    .choice_small_title {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #8F9BB3;
    }

    .choice_categories_wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice_categorie {
        height: 194px;
        width: 45%;
        padding-top: 20px;
        background: #FFFFFF;
        border-radius: 12px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    .choice_categorie_image {
        height: 100px;
    }

    .choice_categorie_header {
        font-size: 18px;
        font-weight: 600;
        color: #756D78;
    }

    .choice_categorie:hover {
        border: 2px solid #007AFF;
        color: #007AFF;
        filter: drop-shadow(0px 7px 15px rgba(0, 149, 255, 0.280567));
    }
}

/* Small */
@media screen and (min-width: 481px) and (max-width: 768px) {

    html {
        background-color: #F0F3F8;
    }

    .choice_page_wrapper {
        background-color: #F0F3F8;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        padding-top: 0;
    }

    .choice_header_wrapper {
        margin-top: 0;
        padding-top: 20px;
        background-color: #FFFFFF;
        height: 118px;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
    }

    .choice_header_small_title {
        margin-top: auto;
        margin-bottom: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        color: #222B45;
    }

    .choice_small_title {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #8F9BB3;
    }

    .choice_categories_wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice_categorie {
        height: 244px;
        width: 45%;
        padding-top: 20px;
        background: #FFFFFF;
        border-radius: 12px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    .choice_categorie_image {
        height: 150px;
    }

    .choice_categorie_header {
        font-size: 20px;
        font-weight: 600;
        color: #756D78;
    }

    .choice_categorie:hover {
        border: 2px solid #007AFF;
        color: #007AFF;
        filter: drop-shadow(0px 7px 15px rgba(0, 149, 255, 0.280567));
    }
}

/* Medium */
@media screen and (min-width: 769px) and (max-width: 979px) {

    html {
        background-color: #F0F3F8;
    }

    .choice_page_wrapper {
        background-color: #F0F3F8;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        padding-top: 0;
    }

    .choice_header_wrapper {
        margin-top: 0;
        padding-top: 20px;
        background-color: #FFFFFF;
        height: 118px;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
    }

    .choice_header_small_title {
        margin-top: auto;
        margin-bottom: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #222B45;
    }

    .choice_small_title {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #8F9BB3;
    }

    .choice_categories_wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice_categorie {
        height: 244px;
        width: 45%;
        padding-top: 20px;
        background: #FFFFFF;
        border-radius: 12px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    .choice_categorie_image {
        height: 150px;
    }

    .choice_categorie_header {
        font-size: 20px;
        font-weight: 600;
        color: #756D78;
    }

    .choice_categorie:hover {
        border: 2px solid #007AFF;
        color: #007AFF;
        filter: drop-shadow(0px 7px 15px rgba(0, 149, 255, 0.280567));
    }
}

/* Large */
@media screen and (min-width: 980px) and (max-width: 1220px) {

    html {
        background-color: #F0F3F8;
    }

    .choice_page_wrapper {
        background-color: #F0F3F8;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        padding-top: 0;
    }

    .choice_header_wrapper {
        margin-top: 0;
        padding-top: 20px;
        background-color: #FFFFFF;
        height: 118px;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
    }

    .choice_header_small_title {
        margin-top: auto;
        margin-bottom: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #222B45;
    }

    .choice_small_title {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #8F9BB3;
    }

    .choice_categories_wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice_categorie {
        height: 264px;
        width: 40%;
        padding-top: 20px;
        background: #FFFFFF;
        border-radius: 12px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    .choice_categorie_image {
        height: 150px;
    }

    .choice_categorie_wrapper {
        padding-top: 15px;
    }

    .choice_categorie_header {
        font-size: 24px;
        font-weight: 600;
        color: #756D78;
    }

    .choice_categorie:hover {
        border: 2px solid #007AFF;
        color: #007AFF;
        filter: drop-shadow(0px 7px 15px rgba(0, 149, 255, 0.280567));
    }
}

/* XLarge */
@media screen and (min-width: 1221px) {

    html {
        background-color: #F0F3F8;
    }

    .choice_page_wrapper {
        background-color: #F0F3F8;
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        padding-top: 0;
    }

    .choice_header_wrapper {
        margin-top: 0;
        padding-top: 20px;
        background-color: #FFFFFF;
        height: 118px;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
    }

    .choice_header_small_title {
        margin-top: auto;
        margin-bottom: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #222B45;
    }

    .choice_small_title {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #8F9BB3;
    }

    .choice_categories_wrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice_categorie {
        height: 310px;
        width: 40%;
        padding-top: 20px;
        background: #FFFFFF;
        border-radius: 12px;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
    }

    .choice_categorie_image {
        height: 200px;
    }

    .choice_categorie_wrapper {
        padding-top: 15px;
    }

    .choice_categorie_header {
        font-size: 24px;
        font-weight: 600;
        color: #756D78;
    }

    .choice_categorie:hover {
        border: 2px solid #007AFF;
        color: #007AFF;
        filter: drop-shadow(0px 7px 15px rgba(0, 149, 255, 0.280567));
    }
}

