@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-color: #F0F3F8;
}

.list_wrapper {
    background-color: #F0F3F8;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding-top: 0;
}

.header_wrapper {
    margin-top: 0;
    padding-top: 20px;
    background-color: #FFFFFF;
    height: 118px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.select {
    margin-left: 5%;
    width: 90%;
    border: none;
    padding-top: 10px;
    align-items: center;
    padding-left: 0;
}

.price_input {
    height: 56px;
    width: 90%;
    margin-top: 16px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 10px;
    box-sizing: border-box;
}


.apply_button {
    height: 56px;
    width: 60%;
    margin-top: 30px;
    background: #007AFF;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}